@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Monserrat", Roboto, sans-serif;
}

h1, h2, h3, h4, h5, p, a {
  margin: 0;
  padding: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "hlegal-icon";
  src: url("fonts/hlegal-icon.eot?de7wgg");
  src: url("fonts/hlegal-icon.eot?de7wgg#iefix") format("embedded-opentype"), url("fonts/hlegal-icon.ttf?de7wgg") format("truetype"), url("fonts/hlegal-icon.woff?de7wgg") format("woff"), url("fonts/hlegal-icon.svg?de7wgg#hlegal-icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=iconh-], [class*=" iconh-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "hlegal-icon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconh-ecommers:before {
  content: "\e900";
}

.iconh-coprorate:before {
  content: "\e902";
}

.iconh-court:before {
  content: "\e903";
}

.iconh-Protection:before {
  content: "\e908";
}

.iconh-support:before {
  content: "\e909";
}

.iconh-trust:before {
  content: "\e90a";
}

.container-icon-64px {
  display: flex;
  font-size: 50px;
  background: linear-gradient(180deg, #EF8080 0%, #F0145A 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services {
  background: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  margin-bottom: 60px;
}

.services-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
}

.title-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.subtitle {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  color: #24A3FF;
}

.title {
  font-family: "Montserrat";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.advantages-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.advantages {
  display: flex;
  flex: 1 0 0;
  flex-grow: 1;
  flex-direction: column;
  min-width: 260px;
  max-width: 500px;
}

.advantages-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 82px;
  padding: 14px;
  background-color: #ffffff;
  border-radius: 24px;
  margin-bottom: 30px;
}

.advantages-title {
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #323264;
  color: #24A3FF;
  margin-bottom: 15px;
}

.advantages-paragraph {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  columns: #000000;
  color: #ffffff;
}

@media (min-width: 768px) {
  .advantages-container {
    flex-direction: row;
    gap: 60px;
  }
}
@media (min-width: 1024px) {
  .advantages {
    flex: 1 0 26%;
  }
}
.trust-us {
  display: flex;
  justify-content: center;
}

.wrapper-for-absolute {
  width: 100%;
}

.trust-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.trust-us-title {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
}

.company-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.company-block {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
}
.company-block:nth-child(1) {
  background: #1C4280;
}
.company-block:nth-child(2) {
  background: #143646;
}
.company-block:nth-child(3) {
  background: #FD9339;
}
.company-block:nth-child(4) {
  background: #9E4DC3;
}
.company-block:nth-child(5) {
  background: #FD9339;
}
.company-block:nth-child(6) {
  background: #E2E2E4;
}
.company-block:nth-child(7) {
  background: #C71C36;
}
.company-block:nth-child(8) {
  background: #DCF3F9;
}
.company-block:nth-child(9) {
  background: #EAEAEA;
}
.company-block:nth-child(10) {
  background: #282240;
}
.company-block:nth-child(11) {
  background: #1D4568;
}
.company-block:nth-child(12) {
  background: #000;
}

@media (max-width: 1024px) {
  .company-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media (max-width: 768px) {
  .company-container .company-block:nth-child(n+7) {
    display: none;
  }
  .company-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 1440px) {
  .wrapper-for-absolute {
    max-width: 1600px;
  }
  .company-container {
    overflow: hidden;
    border-radius: 12px;
  }
}
.partners-logo {
  display: flex;
  height: 95px;
  width: 220px;
  align-items: center;
  justify-content: center;
}

.publication {
  padding-top: 30px;
  background-color: #F5F5FA;
}

.publication-conteiner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.publication-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}

@media (min-width: 768px) {
  .publication-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .publication-card:nth-child(3) {
    grid-column: 1/-1;
  }
}
@media (min-width: 1024px) {
  .publication-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .publication-card:nth-child(3) {
    grid-column: auto;
  }
}
.publication-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
  border-radius: 8px;
}

.publication-card_content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
}

.publication-card-title {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #323264;
  color: #24A3FF;
}

.publication-card-data {
  color: #B3B3BA;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.publication-card-description {
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.publication-img {
  object-fit: cover;
  height: 200px;
}

.h1 {
  font-family: "Montserrat";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h2 {
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #323264;
}

.h3 {
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #323264;
}

.h3-caps {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
}

.h4 {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #323264;
}

.paragraph {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  columns: #000000;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 768px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1920px) {
  .wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
  }
}

/*# sourceMappingURL=style.css.map */
