$icomoon-font-family: "hlegal-icon" !default;
$icomoon-font-path: "fonts" !default;

$iconh-ecommers: unquote('"\\e900"');
$iconh-coprorate: unquote('"\\e902"');
$iconh-court: unquote('"\\e903"');
$iconh-Protection: unquote('"\\e908"');
$iconh-support: unquote('"\\e909"');
$iconh-trust: unquote('"\\e90a"');

